:root {
    --primary: #e45025;
    --bg: #212121;
  }

.recycleBinContainer ul.tabs-nav,
.personabar .personabarLogo,
.dnn-tabs.react-tabs.secondary>ul {
    border-bottom: 1px solid var(--primary);
}

.personabarnav>li#Edit {
    border-top: 1px solid var(--primary);
}

.recycleBinContainer ul.tabs-nav li,
.recycleBinContainer ul.tabs-nav li.ui-tabs-active,
.recycleBinContainer ul.tabs-nav li.ui-state-active,
.current-theme,
.theme-file-skin span.thumbnail.empty::before,
.theme-file-container span.thumbnail.empty::before,
.customCssPanel,
button.dnn-ui-common-button {
    border: 1px solid var(--primary);
}

.recycleBinContainer {
    border: 2px solid var(--primary);
}

.socialpanelheader .personaBar-input,
input,
select,
.dnn-persona-bar-page-body .persona-bar-page-body,
.pages-app .search-container .search-box .search-input input {
    border: 1px solid #969596;
}

._1RiTcd5lGXX0ID_-AkSsMo .dnn-ui-common-input-group .default-language,
.socialpanel-placeholder,
.socialpanel {
    border-right: 1px solid #969596;
}

.theme-skin.selected span.thumbnail,
.theme-container.selected span.thumbnail,
.theme-file-skin.selected.site span.thumbnail,
#recycleBin-body *,
.theme-file-container.selected.site span.thumbnail,
.dnn-switch-container .dnn-switch.dnn-switch-active {
    border-color: var(--primary);
}

.rm-container #Assets-panel .rm-circular {
    border-color: var(--bg);
}

.dnn-package-upload,
.dnn-switch-container .dnn-switch {
    border: unset;
}

.dnn-tabs.react-tabs.secondary>ul li[aria-selected="true"],
.dnn-tabs.react-tabs.primary>ul li[aria-selected="true"] {
    border-bottom: 3px solid var(--primary);
}

._36pPZOClZvplu5c9R63F_Y.selected span.card-image.site-default {
    border: 4px solid var(--primary);
}

svg>g>*,
svg>path,
.dnn-persona-bar-treeview .selection-arrow>div svg {
    fill: var(--primary) !important;
}

.personabarnav>li>span.icon-loader svg .back {
    fill: #333;
}

.personabar,
.dnn-persona-bar-page-header,
.hovermenu,
.personabarnav>li:hover,
.personabarnav>li.active,
.hoverSummaryMenu,
.personabar .personabarLogo:hover {
    background-color: #202020;
}

.hovermenu>label {
    font-size: 16px;
}

.dnn-dropdown.open .collapsible-content,
._36pPZOClZvplu5c9R63F_Y.selected span.checkmark.site-default,
.socialpanelheader .personaBar-input,
input,
select,
.dnn-ui-common-multi-line-input,
.dnn-package-upload .dropzone-container,
.socialpanel,
button.dnn-ui-common-button,
.dnn-persona-bar-page-body,
.dnn-persona-bar-page.show {
    background: var(--bg);
}

.dnn-single-line-input-with-error .input-tooltip-container .dnn-ui-common-single-line-input,
.dnn-multi-line-input-with-error textarea,
.dnn-file-upload .overlay,
.dnnModuleDialog .dnnDialogBody,
.dnnModuleDialog .dnnDialogTitle,
.dnn-tabs.react-tabs.primary>ul {
    background: #222;
}

.dnn-single-line-input-with-error .input-tooltip-container .dnn-ui-common-single-line-input,
.dnn-multi-line-input-with-error textarea,
.dnn-file-upload .overlay {
    color: #fff;
}

.socialpanelheader .personaBar-input,
input,
select,
.dnn-switch-container .switch-button .on-off-text .dnn-grid-cell,
.dnn-tabs.react-tabs.primary>ul li,
.dnn-label label,
._3gX284HOO4YFAEb5Defs4y .searchIndexWrapper,
.oibGKdDrTj_jlWCHvbe6L .dnn-grid-system,
.pages-app .page-container,
.area,
.dnn-page-picker .collapsible-label,
.recycleBinContainer ul.tabs-nav li a,
.socialpanelheader>.qaTooltip>h3.title,
.socialpanelheader>h3,
.dnn-switch-container .switch-button .on-off-text,
.dnn-dropdown .collapsible-label {
    color: #969596;
}

.dnn-radio-buttons ul li input[type="radio"]:checked~.check {
    box-shadow: inset 0 0 1px 1px var(--primary), inset 0 0 0 3px #fff;
}

button.dnn-ui-common-button[role="primary"]:disabled {
    background: #420;
}

.personabarnav>li#Edit.locked svg .back {
    fill: #420;
}

.editbar {
    background: #232323;
}

.dnn-package-upload .overlay:hover,
.dnnModuleDialog .dnnModuleList .listContainer ul li::before {
    background: url("../ Images / icon - add - module.png") rgba(228, 80, 37, 0.9) no-repeat center center;
}

.hoverSummaryMenu ul li.border {
    border-left: 1px solid var(--primary);
}

.recycleBinContainer ul.tabs-nav li.ui-tabs-active a,
.recycleBinContainer ul.tabs-nav li.ui-state-active a,
.rm-container #Assets-panel .item.rm-card .text-card p,
.hovermenu>ul>li,
.dnn-dropdown .collapsible-content ul li.selected,
.VOZGLhchLWIgRIMdlmQVG .portal-main-info .portal-name-info a .hovermenu>ul>li,
.dnn-persona-bar-treeview .list-item-dragover,
.dnn-persona-bar-treeview .collapse-expand,
.breadcrumbs-container>div:last-child,
.recycleBinContainer .EmptyList,
.dnn-radio-buttons ul li input[type="radio"]:checked~.check,
button.dnn-ui-common-button,
.dnn-tabs.react-tabs.primary>ul li[aria-selected="true"],
.personabar,
.dnn-persona-bar-page-header,
.hoverSummaryMenu ul li label,
.dropZoneInactive:hover {
    color: var(--primary);
}

.dnn-tabs.react-tabs.secondary>ul li[aria-selected="true"] {
    color: var(--primary) !important;
}

.rm-container #Assets-panel .rm-circular.rm-folder,
.theme-skin.selected span.checkmark,
.theme-container.selected span.checkmark,
.slider-container .slider .bar.bar-0,
.dnn-switch-container .dnn-switch.dnn-switch-active,
a.primarybtn,
#personaBar-loadingbar>div,
button.dnn-ui-common-button[role="primary"] {
    background: var(--primary);
}

.recycleBinContainer table.dnnRBGrid tr.dnnRBGridHeader td {
    background: unset !important;
}

._1RiTcd5lGXX0ID_-AkSsMo .collapsible-button,
._1RiTcd5lGXX0ID_-AkSsMo .dnn-ui-common-input-group .default-language,
._2EJBAUuEbDU3fcBk9kvvaR,
._359QaGQyzMRohr3d_n3IMu .warningBox,
._3gX284HOO4YFAEb5Defs4y .searchIndexWrapper,
._36pPZOClZvplu5c9R63F_Y span.card-image.no-image::before,
.area,
.current-theme,
.customCssPanel,
#siteimportexport-container .dnn-persona-bar-page-body .persona-bar-page-body .logContainer,
.dnn-dropdown .collapsible-label,
.dnn-page-picker .collapsible-label,
.YqvYUn6Ry3K-kzlcbB7Z3 .topPane,
#siteimportexport-container .dnn-persona-bar-page-body .persona-bar-page-body .top-panel,
.dnn-persona-bar-page-body .persona-bar-page-body,
.dnn-persona-bar-page-body .persona-bar-page-body,
.dnn-servers-info-panel .warningBox,
.dnn-dropdown.disabled,
.dnn-switch-container .dnn-switch,
.dnn-tabs.react-tabs.primary>ul li[aria-selected="true"],
.dnn-ui-common-multi-line-input:disabled,
._2tZyRPklojzNSWF011aJSz .dnn-ui-common-input-group .sitemapUrl,
.theme-list-wrapper,
._2Xt8DULLqGSSdJBTY-9ljb .container,
.dnn-uicommon-tags-field-input,
._3jlHbc3md3Yk2L2iMDcyLa .groupWrapper .dnn-ui-common-input-group,
.dnnModuleDialog .dnnModuleList .listContainer ul li,
.i_7SJz2OfibLIHSyu1Miv .htmlEditorWrapper,
.oibGKdDrTj_jlWCHvbe6L .dnn-grid-system,
.recycleBinContainer table.dnnRBGrid tr:nth-child(2n+1),
.recycleBinContainer table.dnnRBGrid tr:nth-child(2n),
.pages-app .page-container,
.recycleBinContainer #pages table.dnnRBGrid tr,
.recycleBinContainer ul.tabs-nav li.ui-state-active,
.recycleBinContainer ul.tabs-nav li.ui-tabs-active,
.recycleBinContainer,
.roles-list-container .container,
.site-theme,
.sitegroups-list-container .container,
.slider-container .slider .handle>div,
.recycleBinContainer div.ui-tabs-panel,
.socialpanel-placeholder,
.recycleBinContainer #pages table.dnnRBGrid tr.even,
.recycleBinContainer ul.tabs-nav,
.socialpanelheader,
.socialpanelheader,
.theme-container span.thumbnail.empty::before,
.theme-file-skin span.thumbnail.empty::before,
.theme-skin span.thumbnail.empty::before,
.VOZGLhchLWIgRIMdlmQVG,
#licensing-container .dnn-persona-bar-page-body .persona-bar-page-body,
#scheduler-container .dnn-persona-bar-page-body .persona-bar-page-body {
    background: unset;
}

._2wR2bEK-gcpZDleHSljFSX .links-wrapper .link-docs-wrapper .link-docs:hover {
    background: #520099;
}

.dnn-package-upload .overlay {
    inset: 0 0 0 0;
}

.recycleBinContainer .EmptyList {
    background-color: var(--primary) !important;
}

/*******************************************************************************************/
.editbar {
    background: #202020;
}